* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
}

.app {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 15% auto;
  grid-template-columns: minmax(100px, 20%) auto;
  grid-template-areas:
    'logo header'
    'nav pages';
}

.logo {
  grid-area: logo;
  background-color: whitesmoke;
}
.header {
  grid-area: header;
  background-color: whitesmoke;
}
.nav {
  grid-area: nav;
}
.pages {
  grid-area: pages;
  background-color: whitesmoke;
}